<%- include('header') -%>

<div class="container my-5">
  <h1 class="text-center"><%= title %></h1>
  <p class="text-center" style="text-align: center; margin-top: 1rem;"><a href="/">Til baka</a></p>
</div>

<%- include('footer') -%>
